<div class="container">
	<div class="jumbotron welcome-box">
		<h3 class="welcome-heading">ProjeX</h3>
		<div class="lead">
			DAS Tool zum Organisieren umfangreicher Projekte!
		</div>
	</div>
</div>
