<div class="container">
	<% if current_user %>
		<%= render 'info/blogs' %>
	<%end %>
	<div class="jumbotron welcome-box">
		<h3 class="welcome-heading">ProjeX</h3>
		<div class="lead">
			DAS Tool zum Organisieren umfangreicher Projekte!
		</div>
		<div class="scheme1 big">
		</div>
		<div class="scheme2 big">
		</div>
		<div class="scheme3 big">
		</div>
		<div class="scheme4 big">
		</div>
	</div>
</div>
