<div class='container no-padding'>
	<div class='row'>
		<div class='col-md-12 profile-top scheme1'>
			<div class='place-img'></div>
		</div>
		<div class='col-md-12 profile-mid scheme2'>
			<div class='row'>
				<ul class='col-lg-8 col-sm-12 profile-info-lt'>
					<li class='profile-info-el'>E-Mail: <%= current_user.email %></li>
				</ul>
			</div>

		</div>
	</div>
</div>