<h1>Meine Projekte</h1>
<% @projects.each do |project| %>
	<div class='row'>
		<div class='col-lg-12'>
			<h3><%= link_to project.project_name, project_path(project) %></h3>
			<div class="lead"><%= project.goal %></div>
		</div>
		<div class="col-sm-12 col-md-10 col-lg-10">
			<% if project.end === true %>
				<div class="progress project-progress align-middle">
			  	<div class="progress-bar green" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
				</div>
			<% else %>
				<div class="progress project-progress align-middle">
					<div class="progress-bar red" role="progressbar" style="width: 50%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
				</div> <!-- progress -->
			<% end %>
		</div>
		<div class="col-sm-12 col-md-2 col-lg-2 align-middle">
			<% if project.end === true %>
				<p>Beendet :-)</p>
			<% else %>
				<p>noch offen</p>
			<% end %>
		</div>
	</div>
<% end %>
<%= link_to "Neues Projekt anlegen", new_project_path, class: 'btn btn-success' %>