<h3><%= @project.project_name %></h3>
<% if @project.goal %>
	<div class="lead"><%= @project.goal %></div>
<% else %>
	<div class="lead">Keine Zielstellung angegeben</div>
<% end %>
<% @project_todos.each do |todo| %>
<p><%= link_to todo.task, todo_path(todo) %></p>
<% end %>