<h1 class="myproject">Meine Aufgaben</h1>

<div class="row">
	<%= render 'todos/todo', obj: @todos %>
</div>
<%= link_to "Download Projekte", mytodos_export_path, target: '_blank', class: 'btn btn-default btn-info scheme4 borderless' %>