.project-title {
	color: #068587;
}

.goal {
	margin-left: 5px;
	padding-right: 10px;
	font-family: monospace;
	font-size: 25px;
}

.yellow-project {
	background-color: #F2B134;
}

.green-project {
	background-color: #4FB99F;
}

.red-project {
	background-color: #ED553B;
}