<div class="row">
<% if @users %>
	<% if @users.size > 0 and @users.size != User.all %>
		<div id="friend-lookup-results" class="results-block col-lg-12">
			<table class="search-results-table col-lg-12">
				<thead>
					<tr>
						<th>Name</th>
						<th>Username</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					<% @users.each do |user| %>
						<tr>
							<td><%= user.full_name %></td>
							<td><%= user.username %></td>
							<td><%= link_to {:controller => 'project', :action => 'add_member', :user_id => user.id}, class: 'btn btn-xs btn-info'%></td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	<% end %>
<% end %>
</div>