<div class='row'>

  <%= form_tag search_member_path, remote: true, method: :get, id: 'friend-lookup-form' do %>
    <div class="col-lg-10">
      <div class="form-group">
        <%= text_field_tag :search_param, params[:search_param], placeholder: "Suche nach Name oder E-Mail-Adresse", autofocus: true, class: "form-control search-box input-lg" %>
      </div>
    </div>
    <div class="col-lg-2">
      <div class="form-group">
        <%= button_tag(type: :submit, class: "btn btn-lg btn-success") do %>
          <i class="fa fa-search"></i> Suche
        <% end %>
      </div>
    </div>
  <% end %>
</div>